@using ChainOfResponsibilityDesingPattern.DAL;
@model CustomerProcessViewModel
@{
    Layout = null;
}
<a href="~/lib/bootstrap/dist/css/bootstrap.css.map"></a>
<a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map"></a>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <form method="post">
        <label>Müşteri Adı Soyadı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Çekilecek Tutar</label>
        <input type="text" class="form-control" asp-for="Amount" />
        <br />
        <button class="btn btn-warning">Para Çek</button>
    </form>

    <br />
    @if (Model != null)
    {
        @if (Model.Messages != null && Model.Messages.Count > 0)
        {
            <div class="alert alert-info">
                <ul>
                    @foreach (var message in Model.Messages)
                    {
                        <li>@message</li>
                    }
                </ul>
            </div>
        }
    }
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>